/* 	BASE STYLES */
/* *,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
} */

/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} */

/* input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: #222222;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

textarea {
    width: 100%;
    font-size: 16px;
}
input {
    font-size: 16px;
}
content {
    line-height: 1.6;
}
table {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    filter: grayscale(1);
}
img.color {
    filter: grayscale(0);
}
code {
    padding: 2px 5px;
    background-color: #f2f2f2;
}
pre {
    padding: 1rem;
}
pre > code {
    all: unset;
}
blockquote {
    border: 1px solid #999;
    color: #222;
    padding: 2px 0px 2px 20px;
    margin: 0px;
    font-style: italic;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
} */

:root {
    --color-bg: #f2f2f2;
    --color-text: #555555;
    --bold-text: #222;
    --nav-text: #000000;
    --code: #f2f2f2;
    --border-color: #555555;
    --bold-border-color: #222222;
    --block-quote-border: #999;
    --block-quote-text: #222;
    --slider-bg: #dddddd;
    --slider-bg-before: #fff;
    --slider-input-bg: #3a3a3a;
    --border-radius: 0;
  }

::-webkit-scrollbar {
    height: 0.7rem;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: #222222;
}
::-webkit-scrollbar-track {
    background-color: #c2c5cc;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: 'Be Vietnam Pro', sans-serif; */
    font-family: "IBM Plex Mono", monospace;
    font-kerning: normal;
    font-size: 16px;
    font-weight: 400;
}

body {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    color: #555555;
}

/* FONT SIZE TYPE SCALE */
html {
    font-size: 100%;
} /*16px*/

body {
    font-weight: 400;
    line-height: 1.75;
}

a {
    color: #555555;
    border: 2px solid transparent;
    border-left: none;
    border-radius: 0;
    border-right: none;
    cursor: pointer;
    margin: 0 0.5rem;
    padding: 0;
}
a:has(> button) {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: unset;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    /* margin: 3rem 0 1.38rem; */
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small,
.text_small {
    font-size: 0.75rem;
}
/* FONT SIZE TYPE SCALE */

img {
    max-width: 100%;
    height: auto;
    filter: grayscale(1);
}
img.color {
    filter: grayscale(0);
}

/* SPACES */
.pt-2 {
    padding-top: 2rem;
}
/* SPACES */

main {
    position: relative;
    flex: 1 1;
    margin-top: 70px;
    margin-bottom: 90px;
}
/* BASE STYLES END */


/* CONTAINER STYLES */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
    padding: 0 2rem;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}


/* SECTION STYLES */

.section .section__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
.section .section__title .title {
    position: relative;
    font-weight: 300;
    font-size: 40px;
    padding: 24px 0px;
    color: #3a3a3a;
    white-space: nowrap;
}
.section .section__title .divider {
    display: inline-block;
    width: 100%;
    height: 1px;
    top: 55%;
    margin: 0 1rem;
    background-color: #222;
}

@media (max-width: 768px) {
    .section .section__title .title {
        font-size: 32px;
        line-height: 1.5;
        padding: 14px 0px;
    }
}
/* SECTION STYLES END */

/* PRE, CODE STYLES */
code[class*="language-"], pre[class*="language-"] {
    white-space: pre-wrap;
   /*  max-width: 65ch; */
}


.hover-animate:hover,
.hover-animate:focus {
    top: -4px;
}
.hover-animate {
    top: 0;
    transition: top 0.2s ease-in-out;
}