---
import PageLayout from "../layouts/PageLayout.astro";
import BlogPostGridPreview from "../components/BlogPostGridPreview.astro";
import {getCollection} from "astro:content";

// Content Fetching: List four most recent work projects
const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<PageLayout currentPage="blog">
    <section class="pt-2">
        <h1 class="section-title">All Articles</h1>
        <div class="blog__post-grid-preview">
            {posts.map((post) => <BlogPostGridPreview post={post} />)}
        </div>
    </section>
</PageLayout>

<style>
    .section-title {
        padding: 2rem 0;
        font-weight: 700;
    }
    .blog__post-grid-preview {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(215px, 220px));
        align-items: center;
        /*grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));*/
        /* align-items: center; */
        padding: 24px 0;
        gap: 24px;
    }

    @media (max-width: 768px) {
        .section-title {
            padding: 0;
            font-weight: 700;
            margin-top: 0;
            font-size: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
        }
    }
</style>
