---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import PageLayout from "../layouts/PageLayout.astro";
import BlogPostGridPreview from "../components/BlogPostGridPreview.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/**/*.{md,mdx}")).sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).valueOf() -
        new Date(a.frontmatter.pubDate).valueOf()
);
---

<PageLayout currentPage="blog">
    <section class="pt-2">
        <h1 class="section-title">All Articles</h1>
        <div class="blog__post-grid-preview">
            {posts.map((post) => <BlogPostGridPreview post={post} />)}
        </div>
    </section>
</PageLayout>

<style>
    .section-title {
        padding: 2rem 0;
        font-weight: 700;
    }
    .blog__post-grid-preview {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
        align-items: center;
        /*grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));*/
        /* align-items: center; */
        padding: 24px 0px;
        gap: 24px;
    }

    @media (max-width: 768px) {
        .section-title {
            padding: 0;
            font-weight: 700;
            margin-top: 0;
            font-size: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
        }
    }
</style>
