---
//This is a temporary index file to test the functionality of the app
import PageLayout from "../layouts/PageLayout.astro";
import Logo from "../components/Logo.astro";
import Isotipo from "../components/Isotipo.astro";
---

<PageLayout currentPage="home">
    <section class="section">
        <Isotipo width="50" height="50" />
        <h1>
            Welcome to Vicbox.tech
        </h1>
        <p class="mt-2">
            I'm working to improve the functionality of this site to make it a better experience for you. Stay tuned for
            updates.
        </p>
    </section>
</PageLayout>
