---
import PageLayout from "../layouts/PageLayout.astro";
import SnippetListPreview from "../components/SnippetListPreview.astro";
import {getCollection} from "astro:content";

// Content Fetching: List four most recent work projects
const snippets = (await getCollection('snippets')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<PageLayout currentPage="snippets">
    <section class="pt-2">
        <h1 class="section-title">Code Snippets</h1>
        <div class="snippet-list">
            {
                snippets.map((snippet) => (
                    <SnippetListPreview
                        tag={snippet.data.tags}
                        url={`/snippets/${snippet.slug}`}
                        title={snippet.data.title}
                    />
                ))
            }
        </div>
    </section>
</PageLayout>

<style>
    section.pt-2 {
        padding-top: 0;
    }
    .section-title {
        padding: 2rem 0;
        font-weight: 700;
    }
    .snippet-list {
        display: grid;
        gap: 12px;
    }
    @media screen and (min-width: 700px) {
        .snippet-list {
            gap: 1.5rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 1060px) {
        .snippet-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>
