---
import ThemeChange from "./ThemeChange.astro";
import Brand from "./Brand.astro";
import HeaderLink from "./HeaderLink.astro";

const { current } = Astro.props;

const mainNavItems = [
    { 
        url: "/", 
        label: "Home", 
        active: current === "home" ? true : "", 
        icon: "ri-home-fill",
    },
    {
        url: "/blog",
        label: "Blog",
        active: current === "blog" ? true : "",
        icon: "ri-newspaper-fill",
    },
    {
        url: "/snippets",
        label: "Snippets",
        active: current === "snippets" ? true : "",
        icon: "ri-code-box-fill",
    },
    {
        url: "/about",
        label: "About",
        active: current === "about" ? true : "",
        icon: "ri-information-fill",
    },
];

---

<header class="header--menu" id="headerMenu">
    <nav class="nav nav--container">
        <Brand />

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                {
                    mainNavItems.map((link) => (
                        <li class="nav__item">
                            <HeaderLink
                                class:list={[
                                    { "active-link": link.active },
                                    "nav__link",
                                ]}
                                href={link.url}
                            >

                            
                            <i class:list={["nav__icon", link.icon]}></i> 

                                <span class="nav__name">{link.label}</span>
                            </HeaderLink>
                        </li>
                    ))
                }
            </ul>
        </div>

        <ThemeChange />
    </nav>
</header>

<style>
    :root {
        --header-height: 3rem;

        /*========== Colors ==========*/
        --hue: 174;
        --sat: 63%;
        --first-color: #ffc66d; /* fbd143 */
        --first-color-alt: hsl(var(--hue), var(--sat), 36%);
        --title-color: #555555;
        --text-color: hsl(var(--hue), 8%, 35%);
        --body-color: hsl(var(--hue), 100%, 99%);
        --container-color: #fff;

        /*========== Font and typography ==========*/
        --h1-font-size: 1.5rem;
        --normal-font-size: 0.938rem;
        --tiny-font-size: 0.625rem;

        /*========== z index ==========*/
        --z-tooltip: 10;
        --z-fixed: 100;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    /*=============== REUSABLE CSS CLASSES ===============*/

    /*=============== LAYOUT ===============*/
    .nav--container {
        max-width: 968px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /*=============== HEADER ===============*/
    .header--menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--container-color);
        z-index: var(--z-fixed);
        transition: 0.4s;
    }

    /*=============== NAV ===============*/
    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1.2;
    }

    @media screen and (max-width: 767px) {
        .nav__menu {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: var(--container-color);
            box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
            width: 100%;
            height: 4rem;
            padding: 0 1rem;
            display: grid;
            align-content: center;
            border-radius: 0;
            transition: 0.4s;
        }
    }

    .nav__list,
    .nav__link {
        display: flex;
    }

    .nav__link {
        flex-direction: column;
        align-items: center;
        row-gap: 4px;
        color: var(--title-color);
        font-weight: 600;
    }

    .nav__list {
        justify-content: space-around;
    }

    .nav__name {
        font-size: var(--tiny-font-size);
        /* display: none;*/ /* Minimalist design, hidden labels */
    }

    .nav__icon {
        font-size: 1.5rem;
        color: var(--title-color);
    }

    /*Active link*/
    .active-link {
        position: relative;
        transition: 0.3s;
        font-weight: 700;
        color: var(--first-color);
    }
    .active-link .nav__icon {
        font-size: 1.5rem;
        color: var(--first-color);
    }

    /*=============== MEDIA QUERIES ===============*/
    /* For small devices */
    /* Remove if you choose, the minimalist design */
    @media screen and (max-width: 320px) {
        .nav__name {
            display: none;
        }
    }

    /* For medium devices */
    @media screen and (min-width: 576px) {
        .nav__list {
            justify-content: center;
            column-gap: 3rem;
        }
    }

    @media screen and (min-width: 767px) {
        body {
            margin: 0;
        }
        .nav {
            height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
        }
        .nav__img {
            display: none;
        }
        .nav__icon {
            display: none;
        }
        .nav__name {
            font-size: var(--normal-font-size);
            /* display: block; */ /* Minimalist design, visible labels */
        }
        .nav__link {
            color: #555555;
        }
        .nav__link:hover {
            font-weight: 700;
        }

        /* First design, remove if you choose the minimalist design */
        .active-link::before {
            content: "";
            position: absolute;
            bottom: -0.75rem;
            width: 100%;
            height: 2px;
            background-color: var(--first-color);
            /* border-radius: 50%; */
        }
    }
    /* For large devices */
    @media screen and (min-width: 1024px) {
        .nav--container {
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>
