---
import Logo from "./Logo.astro";
---

<a class="brand" href="/">
    <Logo width="36" height="36" />
    <span class="brand-name"> VicBox.Tech</span>
</a>

<style>
    .brand {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
    }
    .brand:hover {
        text-decoration: none;
    }
    .brand-name {
        color: #555555;
        font-size: 18px;
        font-weight: 700;
    }

    @media (max-width: 768px) {
        .brand-name {
            display: none;
        }
    }

    @media (max-width: 430px) {
        .brand {
            display: none;
        }
    }
</style>
