---
const {title, link} = Astro.props
---

<a class="btn__outline" href={`${link}/`} aria-label="read more button">
    {title}
</a>

<style>
    .btn__outline {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        color: var(--color-text);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        gap: 12px;
        width: fit-content;
        height: 50px;
        border: 1px solid var(--border-color);
    }

    .btn__outline:hover {
        text-decoration: none;
        color: #f6f6f6;
        background: #3a3a3a;
        border: 1px solid #3a3a3a;
    }
</style>
