---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, "class:list": list, ...props } = Astro.props;
---

<a href={href} class:list={[list]} {...props}>
    <slot />
</a>