---
import HeaderLink from "./HeaderLink.astro";
import Brand from "./Brand.astro";
const { current } = Astro.props;

const mainNavItems = [
    { url: "/", label: "Home", active: current === "home" ? "active" : "" },
    {
        url: "/blog",
        label: "Blog",
        active: current === "blog" ? "active" : "",
    },
    {
        url: "/snippets",
        label: "Snippets",
        active: current === "snippets" ? "active" : "",
    },
    
];
---

<header>
    <div class="container">
        <div class="navigation">
            <Brand/>
            <nav>
                <ul role='list'>
                    {
                        mainNavItems.map((link) => (
                            <li>
                                <HeaderLink class={link.active} href={link.url}>
                                    {link.label}
                                </HeaderLink>
                            </li>
                        ))
                    }
                </ul>
            </nav>
        </div>
    </div>
</header>

<style>
    header {
        background-color: #ffffff;
        height: 70px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
    }
    .navigation {
        height: 70px;
        display: flex;
        justify-items: center;
        justify-content: space-between;
    }
    .navigation nav li {
        margin-top: 0;
        margin-bottom: 0;
    }
    
</style>
